
body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color:#333;
}

svg {
    background-color: #fff;
    cursor: default;
}

.title {
    position:absolute;
    max-height: 50px;
    height:15%;
    min-height: 30px;
    opacity: 0.85;
    font-size: 2em;
    top:0;
    left:0;
    padding:10px;
    z-index: 99;
}

.graph {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
}

.H{ fill:#D5A2C4;}
.H:hover{ fill:#a48; }
.M{ fill:#80CCC4; }
.M:hover{ fill:#098; }
.T{ fill:#EED5A2; }
.T:hover{ fill:#da4; }
.node{ opacity: 0.85; }

.color.H{ background:#a48; }
.color.M{ background:#098; }
.color.T{ background:#da4; }

.link {
    fill:none;
    stroke:#999;
    stroke-width:0.25;
    opacity: 0.5;
}

title.i {
    font-weight:lighter;
}

.citation {
    position: absolute;
    bottom:0;
    right:0;
    padding:10px;
    width:342px;
}

.elegans {
    position: absolute;
    max-width:660px;
    min-width:200px;
    z-index: 100;
    bottom:0;
    margin-left:25%;
}

.title > a {
    font-weight: lighter;
    text-decoration: none;
    color:#098;
    vertical-align: top;
}
.title > a:hover{
    color:#3ba;
}

.neuron {
    position:absolute;
    top:0;
    left:0;
}
.neuron > b{
    font-size: 1.5em;
}

.over {
    width:100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    background: url('../img/elegans.svg');
    background-repeat: no-repeat;
    background-position: center;
    z-index: 101;
    opacity: 0.8;
}

.color {
    height: 0.9em;
    width: 0.9em;
    border-radius: 0.9em;
    vertical-align: middle;
    display: inline-block;
}

.legend {
    position:absolute;
    top:25%;
    opacity: 0.85;
    left:0;
    padding:20px;
    z-index: 99;
    line-height: 1.2em;
    text-align: justify;
    text-justify: inter-word;
    width:200px;
}

.pointer{
    stroke:#888;
    stroke-width:2px;
}

.celegans {
    background-image: url('../img/celegans.jpg');
    background-size: 3em 3em;
    background-position: center;
    width: 3em;
    height: 3em;
    border-radius: 3em;
    display: inline-block;
    vertical-align: bottom;
    margin: 20px 60px;
    cursor: pointer;
    box-shadow: 0 0 4px 2px #333;
}

.explanation {
    position:absolute;
    top:0;
    opacity: 0.85;
    right:0;
    padding:20px;
    z-index: 99;
    line-height: 1.2em;
    text-align: justify;
    text-justify: inter-word;
    width:342px;
}

.container {
    position: fixed;
    top:0;
    left:0;
    width:1366px;
    height:667px;
}
